/* -----全体設定----- */
body {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
}

/* -----ヘッダー----- */
header h1 {
    font: italic;
    font-size: 40px;

}

/* -----パラメータ設定----- */
.container {
    display: flex;

    margin-top: 10px;
    margin-left: 50px;
}

#container_contentsTitle {
    display: flex;

    margin-top: 10px;
    margin-left: 10px;
}

#container_valuesTitle{
    display: flex;

    margin-top: 10px;
    margin-left: 50px;
}

#container_value {
    margin-top: 15px;
    margin-left: 40px;
}

/* -----スクラッチ部分----- */
/* --全体ＵＩ部分-- */
#scratch_img {
    margin-top: 20px;
    margin-left: 20px;

    position: relative;
    width: 600px;
}

/* --数字表示部分-- */
.table {
    display: flex;

    position: absolute;
    left: 115px;
    top: 860px;
}

.row {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;

    padding-top: 0px;
    padding-left: 5px;
    padding-right: 30px;
}

.column p {
    display: flex;

    padding-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
}

/* --銀テープ部分-- */
.silver-table {
    display: flex;

    position: absolute;
    left: 108px;
    top: 855px;
}

.silver-row {
    display: flex;
    flex-direction: column;
}

.silver-column {
    display: flex;

    padding-top: 0px;
    padding-left: 5px;
    padding-right: 30px;
}

.silver-column canvas {
    display: flex;

    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* --ボタン部分-- */
.function {
    display: flex;

}

#button {
    margin-top: 5px;
    margin-left: 20px;
}

#result_title {
    margin-top: 10px;
    margin-left: 300px;
}

#result_value {
    margin-top: 10px;
    margin-left: 50px;
}